* {
  margin    : 0;
  padding   : 0;
  outline   : 0;
  box-sizing: border-box;
}

.app {
  width           : 100%;
  height          : 100vh;
  padding         : 1rem;
  background-color: var(--page-background);
  color           : var(--page-color);
  display         : flex;
  flex-direction  : column;
  overflow-y      : auto;
}

::-webkit-scrollbar {
  display: none;
}

/* Variáveis CSS */
:root {
  --page-background: #22262b;
  --page-color     : #FFF;

  --modal-portal-background-color: rgba(0, 0, 0, .79);
  --modal-background-color       : #2d3036;
  --modal-color                  : #FFF;
  --modal-header-line            : #707070;

  --table-header-border             : none;
  --table-header-background         : #2d3036;
  --table-header-shadow             : #00000029;
  --table-body-border-color         : rgba(112, 112, 112, 0.2);
  --table-row-background-color      : #22262b;
  --table-row-background-hover-color: #2d3036;
  --table-column-border-color       : rgba(255, 255, 255, 0.1);
  --table-header-column-border-color: #fff;
  --table-button-background-color   : #389cff;

  --button-color              : #FFF;
  --button-hover-color        : #EFEFEF;
  --button-danger-color       : #DC3545;
  --button-danger-hover-color : #ef4e5d;
  --button-primary-color      : #198754;
  --button-primary-hover-color: #1db971;
}